
.stroke-text{
  font-family: 'Spicy Rice', cursive;
  text-transform: uppercase;
  font-size: clamp(4.4rem, 9.8vw, 9.9rem);
  text-align:center;
  text-anchor:middle;
  stroke-width:4px;
  fill: tomato;
  padding: 40px;
  text-decoration: underline;


}

.thick{
  stroke-width:15px;
}

.thicker{
  stroke-width:22px;
}

.color1{
  stroke: lavenderblush;
  stroke-width:25px;
}

.color2{
  stroke: mistyrose;
}

.color3{
  stroke: lightpink;
}

.color4{
  stroke: slateblue;
  stroke-width: .2vw;
}

/* h1 {

  padding: 15px;
  font-family: 'Spicy Rice', cursive;
  font-size: 150px;
  color: darkgoldenrod;
  text-align: center;
  margin:auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

} */


body {
  font-family: 'Poppins', sans-serif;
  background-color: snow;
  text-align: center;

}

p {
  font-family: 'Poppins', sans-serif;
  line-height: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3em;

}

b {
  font-family: 'Poppins', sans-serif;
  text-decoration:underline;

}

.wavy {
  text-decoration: 2px underline wavy;
}

.flex-container{

  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content: space-around;
}

.item {
  background-color: tomato;
  padding: 10px;
  text-shadow: -1px -1px 0 lightpink, 1px -1px 0 lightpink, -1px 1px 0 lightpink, 1px 1px 0 lightpink;
  border: 3px solid slateblue;
  color: white;
  width: 150px;
  height:auto;
  margin: 5px;

}

.flex-container2{
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content: space-around;
}

.item2 {
  background-color: slateblue;
  padding: 10px;
  text-shadow: -1px -1px 0 lightpink, 1px -1px 0 lightpink, -1px 1px 0 lightpink, 1px 1px 0 lightpink;
  border: 3px solid tomato;
  color: white;
  width: 150px;
  height:auto;
  margin: 5px;

}

a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  text-shadow: -1px -1px 0 lightpink, 1px -1px 0 lightpink, -1px 1px 0 lightpink, 1px 1px 0 lightpink;
}

a:hover {
  color: slateblue;
}

/* img {
  margin: 0 auto;
  width: 9%;
  z-index: 100;
  animation: rotation 2s infinite linear;
} */


#wrapper {


  padding:clamp(.2rem, 2.4vw, 3.4rem);


}

.container {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.imageOne {
  width: 51%;

  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.imageTwo {
  position: absolute;
  width:68px;
  top: 30%;
  left: 43.3%;
  transform: translate(-30%, -30%);
  animation: rotation 2s infinite linear;

}




.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }





/* .container{
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0 auto;
    } */


  /* .box{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.8;
  }
  .stack-top{
      z-index: 9;
      margin: 20px;
  } */
